<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>Quick Poll</display-name>

  <servlet>
    <servlet-name>Setup</servlet-name>
    <servlet-class>QuickPollSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Ask</servlet-name>
    <servlet-class>QuickPollAsk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ask</servlet-name>
    <url-pattern>/ask</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>QuickPollVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Results</servlet-name>
    <servlet-class>QuickPollResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>